<div class="col-xs-12 text-center">
    <table>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>

        <tr ng-repeat="p in peopleController.peopleService.list">
            <td>{{ p._source.people.last_name }}</td>
            <td>{{ p._source.people.first_name }}</td>
            <td>{{ p._source.people.age }}</td>
            <td>
                <button class="btn btn-secondary btn-sm"
                        ng-click="peopleController.prepareUpdate(p)">Update</button>
                <button class="btn btn-danger btn-sm"
                        ng-click="peopleController.deletePerson(p._id);">Delete</button>
            </td>
        </tr>


    </table>
</div>

<div class="text-center">
    <button class="m-2 btn btn-primary"
            ng-click="peopleController.formCollapsed = !peopleController.formCollapsed;">Create</button>
</div>